<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Guide</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="..//index.html">Home</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="..//index.html#introSection">Intro</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="..//index.html#featuresSection">History</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="..//index.html#reviewsSection">Partners</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="..//index.html#gallerySection">Products</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="..//cart.html">Cart</a>
              </li>
          </ul>
      </div>
  </nav>
    <h1> Simple Guide </h1>
    <h2> 5 Tips and Tricks to Shopping on 玫瑰小舖 </h2>
    <h4> Refrain From Buying Items In The Sizes You Want To Fit In</h4>
      <p>
      Our store allows for all individuals in all sizes to select and choose
      items that best fit them. Simply choose items that are in your size.
      To avoid the hassle, buy clothings that you are most comfortable in.</p>
    <h4> Look At ALL Colors Available </h4>
      <p> We design clothing in materials that are available to us.
        Navigate through all colors to see which color of clothing you like best.</p>
    <h4> Use Our Measurements Chart </h4>
      <p> When applicable, use our measurement charts. Our charts can be used for all individuals in sizes S-XL</p>
    <h4> Expect your Expectations</h4>
      <p> If you are a Medium Sized indivudal, select clothes in that
        corresponding size. Set your expectations to your comfort and not to
        what society wants you to be viewed as. </p>
    <h4> Be Patient </h4>
    <p> Our orders may take a while to process due to the high demand. Please be
      patient and understanding of our hard workers. Though some products may
      take a shorter amount of time than others, please refrain from any harmful
      actions that may cause the site to shut down.</p>
  </body>
</html>
